#background {
    -fx-min-height: 500;
    -fx-min-width: 400;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #4F5153;
}

#leftSide {
    -fx-background-color: white;
}

#rightSideMenu {
    -fx-min-width: 400;
    -fx-pref-width: 400;
    -fx-max-width: 400;
    -fx-padding: 30;
    -fx-background-color: #E4E7EB;
}