#background {
    -fx-min-height: 500;
    -fx-min-width: 400;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #4F5153;
}

#leftSide {
    -fx-background-color: white;
}

#rightSideMenu {
    -fx-min-width: 400;
    -fx-pref-width: 400;
    -fx-max-width: 400;
    -fx-padding: 30;
    -fx-background-color: #E4E7EB;
}

.comboboxDimension {
    -fx-pref-width: 200;
    -fx-background-color: white;
    -fx-padding: 7px;
    -fx-background-insets: 5px;
}

.VBoxDrill {
    -fx-translate-y: 10;
}

#btnUpdate {
    -fx-background-color: white;
}

.searchBarContextMenu {
    -fx-pref-width: 200;
    -fx-max-width: 200;
}

.searchField {
    -fx-pref-width: 200;
    -fx-max-width: 200;
    -fx-min-width: 200;
    -fx-background-color: white;
    -fx-padding: 7px;
    -fx-background-insets: 2px;
}


.btnRollUp {
    -fx-background-color: white;
    -fx-padding: 7px;
    -fx-background-insets: 2px;
}

.btnRollUp :pressed {
    -fx-background-color: #E4E7EB;
    -fx-padding: 7px;
    -fx-background-insets: 2px;
}
#txtTopRows {
    -fx-pref-width: 140;
    -fx-max-width: 140;
    -fx-min-width: 140;
    -fx-background-color: white;
    -fx-padding: 7px;
    -fx-background-insets: 2px;
}

.searchField:selected {
    -fx-pref-width: 200;
    -fx-max-width: 200;
    -fx-background-color: white;
    -fx-padding: 7px;
    -fx-background-insets: 2px;
}


#btnSearch {
    -fx-background-color: white;
    -fx-padding: 7px;
    -fx-background-insets: 2px;
}

#btnSearch:pressed {
    -fx-background-color: #E4E7EB;
    -fx-padding: 7px;
    -fx-background-insets: 2px;
}

/*
Scrollbar styling for tableview
 */
.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;

}


.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(#4F5153, 80%);

    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}


.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#4F5153, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}